<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Prediction Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='predict.css') }}">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo-container">
                <img src="static\image\asia_uni_icon.png" alt="Asia University" class="uni-logo">
            </div>
            <ul class="nav-menu">
                <li>
                    <a href="/dashboard" class="nav-link">
                        <img src="static\image\craftingtable.jpg" alt="Dashboard Icon" class="sidebar-icon">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/course" class="nav-link">
                        <img src="static\image\booksheves.jpg" alt="Course Icon" class="sidebar-icon">
                        Course
                    </a>

                </li>
                <li class="active">
                    <a href="/predict" class="nav-link">
                        <img src="static\image\luckyblock.jpg" alt="Prediction Icon" class="sidebar-icon">
                        Prediction
                    </a>
                </li>
                <li>
                    <a href="/profile" class="nav-link">
                        <img src="static\image\stevehead.jpg" alt="Profile Icon" class="sidebar-icon">
                        Profile
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <h1>Prediction</h1>

            <div class="cards">

                <div class="card">
                    <img class="book-icon" src="static\image\enchanted_book.png" alt="Grade Icon">
                    <div class="card-text">Grade <span class="badge badge-orange"> C</span></div>
                </div>

                <div class="card">
                    <img class="clock-icon" src="static\image\clock.png" alt="Time Icon">
                    <div class="card-text">Time </div>
                </div>

                <div class="card achievement-card">
                    <div class="achievements-container">
                        <div class="creeper-centered-icon">
                            <img class="creeper-icon" src="static\image\achievement.png" alt="Pickaxe Icon">
                        </div>
                    </div>
                    <div class="card-text">Achievements</div>
                </div>

                <div class="card">
                    <img class="portal-icon" src="static\image\end_portal.png" alt="GPA Icon">
                    <div class="card-text">GPA</div>
                </div>

            </div>

            <div class="course-container">

                <div class="course-panel">
                    <div class="course-grid">
                        <div class="course-item">
                            <div class="grade-icon icon-enchanted-book-small"></div>
                            <div class="course-info">
                                <div class="code">Subject 1</div>
                                <div class="pred">Pred <span class="text-green">A+</span></div>
                                <div class="mc-progress-bar">
                                    <div class="progress green-bar" style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="course-item">
                            <div class="grade-icon icon-book-small"></div>
                            <div class="course-info">
                                <div class="code">Subject 2</div>
                                <div class="pred">Pred <span class="text-green">B</span></div>
                                <div class="mc-progress-bar">
                                    <div class="progress green-bar" style="width: 70%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="course-item">
                            <div class="grade-icon icon-book-small"></div>
                            <div class="course-info">
                                <div class="code">Subject 3</div>
                                <div class="pred">Pred <span class="text-red">D</span></div>
                                <div class="mc-progress-bar">
                                    <div class="progress red-bar" style="width: 30%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-panel">
                    <div class="course-grid">
                        <div class="course-item">
                            <div class="grade-icon icon-enchanted-book-small"></div>
                            <div class="course-info">
                                <div class="code">Subject 4</div>
                                <div class="pred">Pred <span class="text-green">A</span></div>
                                <div class="mc-progress-bar">
                                    <div class="progress green-bar" style="width: 85%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="course-item">
                            <div class="grade-icon icon-book-small"></div>
                            <div class="course-info">
                                <div class="code">Subject 5</div>
                                <div class="pred">Pred <span class="text-orange">C</span></div>
                                <div class="mc-progress-bar">
                                    <div class="progress orange-bar" style="width: 55%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="course-item">
                            <div class="grade-icon icon-book-small"></div>
                            <div class="course-info">
                                <div class="code">Subject 6</div>
                                <div class="pred">Pred <span class="text-red">F</span></div>
                                <div class="mc-progress-bar">
                                    <div class="progress red-bar" style="width: 10%;"></div>
                                </div>
                            </div>
                            <div class="course-decorations">
                                <div class="wool-blocks"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

</body>

</html>