<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='image/asia_uni_icon.png') }}"
                    alt="Asia University Logo" class="uni-logo">
            </div>
            <ul class="nav-menu">
                <li>
                    <a href="/dashboard" class="nav-link">
                        <img src="static\image\craftingtable.jpg" alt="Dashboard Icon" class="sidebar-icon">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/course" class="nav-link">
                        <img src="static\image\booksheves.jpg" alt="Course Icon" class="sidebar-icon">
                        Course
                    </a>

                </li>
                <li>
                    <a href="/predict" class="nav-link">
                        <img src="static\image\luckyblock.jpg" alt="Prediction Icon" class="sidebar-icon">
                        Prediction
                    </a>
                </li>
                <li class="active">
                    <a href="/profile" class="nav-link">
                        <img src="static\image\stevehead.jpg" alt="Profile Icon" class="sidebar-icon">
                        Profile
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">

            <div class="top-bar">
                <button class="customize-btn">
                    Customize
                </button>
            </div>

            <h1 class="page-title">Profile</h1>

            <div class="card">
                <h3>Name</h3>
                <p>NGUYEN MINH TRUNG</p>
            </div>

            <div class="card">
                <h3>Student ID</h3>
                <p>AU515128</p>
            </div>

            <div class="card">
                <h3>Date of Birth</h3>
                <p>10-08-2007 (Age: 18)</p>
            </div>

            <div class="card">
                <h3>National ID</h3>
                <p>032207003738</p>
            </div>

            <div class="card">
                <h3>Gender</h3>
                <p>Gay</p>
            </div>

            <div class="card">
                <h3>Nationality</h3>
                <p>Vietnam</p>
            </div>

            <div class="card">
                <h3>Email</h3>
                <p>student@asia.edu.tw</p>
            </div>

            <div class="card">
                <h3>Phone Number</h3>
                <p>0913618335</p>
            </div>

            <div class="card">
                <h3>Address</h3>
                <p>Can Tho, Vietnam</p>
            </div>

        </div>

    </div>

</body>

</html>