<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediction Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='predict_dark_css.css') }}">
</head>
<body>

<div class="container">

    <div class="sidebar">
        <div class="logo-container">
            <img src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t1.15752-9/719482652_996269579791932_2897446188292106300_n.png?_nc_cat=101&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeH3IqAyWnA-SQcOpAdvLP3Vcuyl3sDbI0xy7KXewNsjTJ2oTSg5oqxaAO9rvLH51AdnqvFHiHvq41TAo0xKQv-C&_nc_ohc=vQczFj7uSnkQ7kNvwFp0CgT&_nc_oc=AdrH3fm7SrrOoZjaxXk9tDuQ4zdhxrAKp7PxeE4fBvl8FV5zIb13-WY2h74SpT0XAxs&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fsgn2-4.fna&_nc_ss=7a22e&oh=03_Q7cD5gEDvKmxBB1lTyjdMCD6cP9WcO-O47zpALLSvjgTVd7MDg&oe=6A505C41" alt="Asia University" class="uni-logo">
        </div>

        <ul class="nav-menu">
    <li>
        <img src="https://i.pinimg.com/736x/ed/fc/6d/edfc6d5a5b63db5690f417dee6b776e9.jpg" alt="Dashboard Icon" class="sidebar-icon">
        Dashboard
    </li>
    <li>
        <img src="https://i.pinimg.com/736x/4e/90/a7/4e90a7c7c8fadc5364e017ac52856db1.jpg" alt="Course Icon" class="sidebar-icon">
        Course
    </li>
    <li class="active">
        <img src="https://i.pinimg.com/736x/59/b2/3c/59b23cbe9837b1674f52863650a9d82a.jpg" alt="Prediction Icon" class="sidebar-icon">
        Prediction
    </li>
    <li>
        <img src="https://i.pinimg.com/736x/90/d6/a9/90d6a98fda7d713f8d7c116817d0ee14.jpg" alt="Profile Icon" class="sidebar-icon">
        Profile
    </li>
</ul>
    </div>

    <div class="main">

       <h1>Prediction</h1>

<div class="cards">
    
    <div class="card">
        <img class="book-icon" src="static/enchanted_book.png" alt="Grade Icon">
        <div class="card-text">Grade <span class="badge badge-orange"> C</span></div>
    </div>

    <div class="card">
        <img class="clock-icon" src="static/clock.png" alt="Time Icon">
        <div class="card-text">Time </div>
    </div>

    <div class="card achievement-card">
        <div class="achievements-container">
            <div class="creeper-centered-icon" >
                <img class="creeper-icon" src="static/achievement.png" alt="Pickaxe Icon">
            </div>
        </div>
        <div class="card-text">Achievements</div>
    </div>

    <div class="card">
        <img class="portal-icon" src="static/end_portal.png" alt="GPA Icon">
        <div class="card-text">GPA</div>
    </div>
    
</div>

        <div class="course-container">
            
            <div class="course-panel">
                <div class="course-grid">
                    <div class="course-item">
                        <div class="grade-icon icon-enchanted-book-small"></div>
                        <div class="course-info">
                            <div class="code">Subject 1</div>
                            <div class="pred">Pred <span class="text-green">A+</span></div>
                            <div class="mc-progress-bar"><div class="progress green-bar" style="width: 100%;"></div></div>
                        </div>
                    </div>
                    <div class="course-item">
                        <div class="grade-icon icon-book-small"></div>
                        <div class="course-info">
                            <div class="code">Subject 2</div>
                            <div class="pred">Pred <span class="text-green">B</span></div>
                            <div class="mc-progress-bar"><div class="progress green-bar" style="width: 70%;"></div></div>
                        </div>
                    </div>
                    <div class="course-item">
                        <div class="grade-icon icon-book-small"></div>
                        <div class="course-info">
                            <div class="code">Subject 3</div>
                            <div class="pred">Pred <span class="text-red">D</span></div>
                            <div class="mc-progress-bar"><div class="progress red-bar" style="width: 30%;"></div></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="course-panel">
                <div class="course-grid">
                    <div class="course-item">
                        <div class="grade-icon icon-enchanted-book-small"></div>
                        <div class="course-info">
                            <div class="code">Subject 4</div>
                            <div class="pred">Pred <span class="text-green">A</span></div>
                            <div class="mc-progress-bar"><div class="progress green-bar" style="width: 85%;"></div></div>
                        </div>
                    </div>
                    <div class="course-item">
                        <div class="grade-icon icon-book-small"></div>
                        <div class="course-info">
                            <div class="code">Subject 5</div>
                            <div class="pred">Pred <span class="text-orange">C</span></div>
                            <div class="mc-progress-bar"><div class="progress orange-bar" style="width: 55%;"></div></div>
                        </div>
                    </div>
                    <div class="course-item">
                        <div class="grade-icon icon-book-small"></div>
                        <div class="course-info">
                            <div class="code">Subject 6</div>
                            <div class="pred">Pred <span class="text-red">F</span></div>
                            <div class="mc-progress-bar"><div class="progress red-bar" style="width: 10%;"></div></div>
                        </div>
                    <div class="course-decorations">
                        <div class="wool-blocks"></div>
                    </div>
                </div>
            </div>

        </div> </div>
</div>

</body>
</html>
